adafruit-nrfutil==0.5.3.post16
ajsonrpc==1.2.0
annotated-types==0.7.0
appdirs==1.4.4
apsw==3.49.2.0
argcomplete==3.6.2
arrow==1.3.0
asgiref==3.8.1
astroid==3.3.10
attrs==25.3.0
autocommand==2.2.2
beautifulsoup4==4.13.3
behave==1.2.7.dev6
binaryornot==0.4.4
Brotli==1.1.0
brotlicffi==1.1.0.0
btrfsutil==6.14
build==1.2.2
CacheControl==0.14.3
certifi==2025.6.15
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
click-completion==0.5.2
colorama==0.4.6
contourpy==1.3.2
cookiecutter==2.6.0
coverage==7.9.1
cryptography==45.0.4
css-parser==1.0.10
cssselect==1.2.0
cucumber-tag-expressions==6.2.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.9
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
ecdsa==0.19.1
faust-cchardet==2.1.19
feedparser==6.0.11
filelock==3.18.0
fonttools==4.58.4
Glances==4.3.1
greenlet==3.2.1
h11==0.16.0
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
httptools==0.6.4
identify==2.6.12
idna==3.10
ifaddr==0.2.0
inflate64==1.0.3
inflect==7.5.0
installer==0.7.0
isort==6.0.1
jaconv==0.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.6
lensfun==0.3.4
lit==20.1.0.dev0
lockfile==0.12.2
lxml==5.4.0
lxml_html_clean==0.2.0
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mdurl==0.1.2
mechanize==0.4.10
mercurial==7.0.2
meson==1.8.2
more-itertools==10.7.0
msgpack==1.0.5
multivolumefile==0.2.3
netifaces==0.11.0
netsnmp-python==1.0a1
networkx==3.4.2
nftables==0.1
nodeenv==1.8.0
numpy==2.3.1
orjson==3.10.18
packaging==25.0
pandas==2.2.3
parse==1.20.2
parse_type==0.6.2
pdftotext==2.2.2
pillow==11.2.1
pipx==1.7.1
platformdirs==4.3.6
ply==3.11
pooch==1.8.2
pre_commit==4.2.0
psutil==7.0.0
pwquality==1.4.5
py7zr==1.0.0
pyaml==24.12.0
pybcj==1.0.6
pybind11==2.13.6
pycairo==1.28.0
pychm==0.8.6
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycups==2.0.4
pycurl==7.45.6
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
PyGObject==3.52.3
pykakasi==2.3.1.dev0
pylint==3.3.7
pynvim==0.5.2
PyOpenGL==3.1.7
pyparsing==3.2.3
pyppmd==1.2.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.2
pyserial==3.5
PySide6==6.9.1
pyte==0.8.2
python-dateutil==2.9.0
python-slugify==8.0.4
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.2
pyzstd==0.17.0
Reflector==2023.6.28.0.36.1
regex==2024.11.6
reportlab==4.2.2
requests==2.32.4
rich==14.0.0
scikit-learn==1.7.0
scipy==1.15.3
scour==0.38.2
setuptools==80.9.0
setuptools-scm==8.3.1
sgmllib3k==1.0.0
shellingham==1.5.4
shiboken6==6.9.1
shiboken6-generator==6.9.1
shtab==1.7.2.dev0+g61ec99d.d20241116
six==1.17.0
smbus==1.1
soupsieve==2.6
tabulate==0.9.0
TBB==0.2
termcolor==2.5.0
text-unidecode==1.3
texttable==1.7.0
thefuck==3.32
threadpoolctl==3.5.0
tinycss2==1.4.0
tldr==3.4.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.3
tqdm==4.67.1
typeguard==4.4.4
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.13.2
unrardll==0.1.7
urllib3==2.5.0
userpath==1.9.2
uvicorn==0.34.3
uvloop==0.21.0
virtualenv==20.28.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
wheel==0.45.1
wrapt==1.16.0
wxPython==4.2.3
xcffib==1.5.0
xxhash==3.5.0
zeroconf==0.147.0
zstandard==0.23.0
